*
{
margin:0;
padding: 0;
}




header
{
    background-color: lightgray;
    width: 80%;
    height: 170px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px #999;
}


header h1
{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
color: white;
font-family: 'Lobster', cursive;
}

#footer
{    
    background-color: blue;
    width: 50%;
    height: 100px;
    margin: auto;
    margin-top: 10px;
}

.clase_div_texto
{
    color:blue;
}

.clase_div
{
    background-color: red !important;   
    color:white; 
}


main
{
    font-size: 24px;
}


main p
{
    font-size: 1em;
}

main section
{
    font-size: 1.5em;
}







